* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f2f4f7;
}

header {
    background: #173b75;
    color: white;
    text-align: center;
    padding: 25px;
}

header h1 {
    margin: 0;
}

main {
    width: 90%;
    max-width: 1000px;
    margin: 25px auto;
    background: white;
    padding: 25px;
    border-radius: 10px;
}

h2 {
    color: #173b75;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 15px 0;
}

th {
    background: #173b75;
    color: white;
}

th,
td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

input {
    width: 90%;
    padding: 8px;
}

button {
    background: #2563eb;
    color: white;
    border: none;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background: #173b75;
}

#sgpaResult,
#cgpaResult {
    color: #173b75;
    font-size: 24px;
}

.formula {
    background: #f1f5f9;
    padding: 15px;
    margin-top: 20px;
    border-radius: 5px;
}

footer {
    background: #173b75;
    color: white;
    text-align: center;
    padding: 20px;
}

@media (max-width: 600px) {

    main {
        width: 95%;
        padding: 10px;
    }

    table {
        font-size: 12px;
    }

    th,
    td {
        padding: 6px;
    }

    input {
        width: 100%;
    }

    button {
        width: 100%;
        margin: 5px 0;
    }
}